*{
    padding: 0;
    margin: 0;
}

.main-bg {
    background-image: url(../images/main-bg.svg);
    background-size: cover;
    background-position: center center;
}

label {
    font-size: 1.2rem;
    font-style: italic;
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    
}
.intro-content{
    position: relative;
    display:grid;
    grid-template-columns: 1.0fr 1.0fr;
    min-height: 91.5vh;

}

.intro-text-content, .intro-img {
    width: 90%;
    padding-left: 5%;

}
.intro-content h2 {
    color: rgb(109, 30, 212);
    font-size: 2rem;
    line-height: 1.2;
    padding: 10rem 2rem 4rem 4rem;
    line-break: auto;

}

.intro-img {
    max-height: 1vh;
    transform: scale(1.4);
    padding-top: 7rem;
    max-width: 50%;
    margin-left: 10rem;
    justify-self: left;

}

.main-content h2{
    font-style: italic;
    padding-bottom: 2rem;
}

.search-form {
    padding-top: 10rem;
}
.search-form button, input{
    font-size: 1.5rem;
    border-style: solid;
    border-color: rgb(247, 163, 229);
    margin-left: 1rem;
    padding: 10px 10px;
    transition: ease-in-out 300ms;
    
}

.search-form input:focus{
    box-shadow: 0 0 15px 5px lightblue;
}

.search-form button:hover, input:hover {
    background: rgb(212, 142, 214);    
    border-color: white;
    box-shadow: 0 0 15px 5px rgb(172, 20, 161);
}

.main-content p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.book-icon {
    transform: scale(0.2);
    padding-top: 3rem;
    padding-left: 15rem;
    max-width: 1rem;
    max-height: 1rem;
}

.search-label {
    top: 10px;
    padding-right: -2rem;
    font-size: 2rem;
    color: rgb(109, 30, 212);
    font-weight: 900;
}

.lower-elements{
    padding-left: 6rem;
}

.my-git {
    position: absolute;
    right: 2px;
    font-size: 1rem;
    text-decoration: none;
    line-height: 100px;

}

.my-git a{
    text-decoration: none;
    text-align: left;
}

.mini-logo{
    transform: scale(2);
    max-height: 2rem;
    margin-right: 2rem;
}


@media (max-width: 1200px) {
    .intro-content{
        grid-template-columns: repeat(auto-fill, 350px);
        min-width: 0
    }
    .search-label {
    padding-left: 1rem;
    }
    .search-form input{
        margin-top: 1rem;
        margin-left: 0%;
    }
    .search-form button{
        margin-top: 4rem;
        margin-left: 7rem;
    }
    .my-git{
        padding-right: 3rem;
    }
    .my-git a{
        color: #FF8EF8;
    }
    .book-icon {
        padding-left: 13rem;
    }
    .main-content h2{
        padding-left: 2rem;
        margin-bottom: 10rem;
    }
    .lower-elements{
        padding-left: 3rem;
    }
    .intro-img{
        padding-top: 20rem;
        margin-left: 0;
    }

}

@media (max-width: 700px) {
    .intro-content{
        grid-template-columns: repeat(auto-fill, 350px);
        min-width: 0
    }
    .search-label {
    padding-left: 1rem;
    }
    .search-form input{
        margin-top: 1rem;
        margin-left: 0%;
    }
    .search-form button{
        margin-top: 4rem;
        margin-left: 7rem;
    }
    .my-git{
        position: absolute;
        left: 1rem;
    }
    .my-git a{
        color: #FF8EF8;
    }
    .book-icon {
        padding-left: 13rem;
    }
    .main-content h2{
        padding-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 4rem;
    }
    .lower-elements{
        margin-top: 0rem;
        padding-left: 3rem;
    }
    .intro-img{
        padding-top: 0rem;
        transform: scale(0.9);
    }
}

